<section id="about">
  <% if (config.description) { %>
    <%- markdown(config.description) %>
  <% } %>
</section>

<section id="videos">
  <span class="h1"><a href="https://www.youtube.com/playlist?list=PLU2kEGm75X3CZ4-gMikR6LZ24B1fO3so_">Videos</a></span>
  <iframe width="560"
    height="315"
    src="https://www.youtube.com/embed/videoseries?list=PLU2kEGm75X3CZ4-gMikR6LZ24B1fO3so_"
    title="Playlist"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe><br>
  <a href="https://www.youtube.com/playlist?list=PLU2kEGm75X3CZ4-gMikR6LZ24B1fO3so_" class="umami--click--playlist">Click here for the full playlist</a>
</section>

<section id="posts">
  <span class="h1"><a href="<%- url_for('posts') %>">Recent blog posts</a></span>
  <ul class="post-list">
    <% site.posts.sort('date', 'desc' ).limit(theme.posts_overview.post_count || 7).each(function(post, i){ %>
      <li class="post-item">
        <%- partial('_partial/post/date', { post: post, class_name: 'meta' }) %>
        <span><%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %></span>
      </li>
    <% }); %>
  </ul>
</section>

<section id="links">
  <span class="h1"><a href="<%- url_for('sheet-music') %>">Links</a></span>
  <ul>
    <li><a href="https://yt.arbochelli.me" class="umami--click--youtube">Youtube</a></li>
    <li><a href="https://ms.arbochelli.me" class="umami--click--musescore">MuseScore</a></li>
    <li><a href="https://github.com/abarichello/arbochelli" class="umami--click--github">GitHub</a></li>
    <li><a href="https://www.halleonard.com/bin/musicNotationBass.pdf">Notation guide</a></li>
  </ul>
</section>
